$bgColor: #f3f3f3;
$subColor: #1ba9fc;
$pageColor: #fff;
$patientFontColor: #666; //病人页面主要字体
$timelineColor: #e3e1e1; //时间轴边框线颜色
$tableBorderColor: #ebeff3; //表格边框颜色
$tableActiveColor: #ebf5f6; //表格高亮颜色